body {
  font-family: "Nunito", sans-serif !important;
}

/* Navigtion Bar */
.brand {
  font-family: "Righteous", cursive;
  font-size: 19px;
  font-weight: 400;
  color: #00000066 !important;
}

.brand-split {
  color: #ffc839;
}

.nv-links {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #00000066;
}

/* Banner */
.banner {
  color: #000000;
  background-image: linear-gradient(90deg, #fff 31%, #fff5da 31%);
}

.banner h1 {
  font-size: 60px;
  font-weight: 700;
}

.banner p {
  font-size: 29px;
  font-weight: 400;
}

.banner-image {
  position: relative;
}

.banner-image::after {
  content: "";
  background-color: #ffc839;
  position: absolute;
  height: 240px;
  width: 40px;
  right: -40px;
  bottom: 60px;
}

.banner-image img {
  height: 500px !important;
  width: 100%;
  object-fit: cover;
}

/* Form */

.search-form {
  margin-top: -80px;
  background-color: #fff;
  box-shadow: 0 0 20px 20px #00000007;
}

.form-elemnt {
  background: #fff0cb !important;
  border: 1px solid #ffc839 !important;
  border-radius: 0 !important;
}

.search-button {
  background: #ffc839;
  border: none;
  max-height: 37px;
  padding: 0.5rem 4.2rem;
}

/* About Us */

.about-img img {
  max-height: 360px;
  width: 100%;
  object-fit: cover;
}

.about-text {
  font-weight: 700;
  font-size: 14px;
  box-shadow: 0 3px 15px #9c7e172e;
}

.about-text i {
  height: 22px;
  width: 22px;
  background-color: #ffc839;
  border-radius: 50%;
}

.about-text:hover {
  background-color: #ffc839;
}

.about-text:hover i {
  background-color: #fff;
}

.abt-text h2 {
  font-size: 36px;
  font-weight: 600;
}

.abt-img {
  position: relative;
}

.abt-img::after {
  content: "";
  background-color: #ffc839;
  position: absolute;
  height: 330px;
  width: 50px;
  left: 17px;
  top: 60px;
}

.abt-img img {
  max-height: 450px;
  width: 85%;
  object-fit: cover;
}

.abt-text-desc {
  font-weight: 400;
}

.abt-text-desc h3 {
  font-size: 25px;
}

.abt-text-desc p {
  font-size: 17px;
  margin-bottom: 0;
}

/* Booking */

.booking-details {
  background: #fff5da;
}

.booking-details h3 {
  font-weight: 600;
  font-size: 30px;
  color: #323232;
}

.booking-details p {
  font-weight: 400;
  font-size: 23px;
  color: #646464;
}

.booking-details form {
  position: relative;
  width: 84%;
}

.booking-details form input[type="text"] {
  padding-right: 25%;
  height: 45px;
  border-radius: 0;
  border: 1px solid #00000063;
}

.booking-details form input[type="submit"] {
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: #ffc839;
  border: none;
  padding: 6px 30px;
  font-weight: 600;
}

/* Gallery */

.gallery img {
  min-height: 355px;
  object-fit: cover;
}

/* ideas */

.ideas h3 {
  font-size: 30px;
  font-weight: 600;
}

.ideas p {
  font-size: 15px;
  font-weight: 400;
}

.ideas button {
  font-weight: 600;
  border: none;
  background: #ffc839;
  padding: 5px 30px;
  box-shadow: 1px 1px 20px #0000001c;
}

.ideas img {
  height: 340px;
  object-fit: cover;
}

.explore h3 {
  font-size: 36px;
  font-weight: 600;
}

.explore p {
  font-size: 15px;
  font-weight: 400;
}

/* Footer */

.footer {
  background-color: #fff5da;
}

.footer a {
  font-size: 12px;
}

.footer i {
  line-height: 22px;
  font-size: 13px;
  color: #fff;
  height: 22px;
  width: 22px;
  background-color: #ffc839;
  border-radius: 50%;
}

.footer i:hover {
  transform: scale(1.1);
}

.footer-brand a {
  font-family: "Righteous", cursive;
  font-size: 16px;
  font-weight: 400;
  color: #00000066;
}

.footer-brand li {
  font-size: 10px;
  display: inline-block;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  .banner h1 {
    font-size: 50px;
  }
  .banner p {
    font-size: 24px;
  }
  .banner-image img {
    height: 390px !important;
  }
  .banner-image::after {
    height: 235px;
    width: 35px;
    right: -36px;
    bottom: 55px;
  }
  .search-button {
    padding: 0.5rem 3.2rem;
  }
  .about-img img {
    max-height: 295px;
  }
  .abt-img img {
    width: 90%;
  }
  .abt-img::after {
    height: 270px;
    width: 35px;
    left: -6px;
    top: 45px;
  }
  .booking-details p {
    font-size: 22px;
  }
  .booking-details form {
    width: 98%;
  }
  .footer-brand a {
    font-size: 14px;
    font-weight: 500;
  }
}

@media screen and (min-width: 900px) and (max-width: 1024px) {
  .about-text p {
    min-height: 45px;
  }
  .abt-text-desc img {
    max-height: 65px;
  }
}

@media screen and (max-width: 900px) {
  .banner h1 {
    font-size: 39px;
  }
  .banner p {
    font-size: 23px;
  }
  .banner-image img {
    height: 310px !important;
  }
  .banner-image::after {
    height: 225px;
    width: 27px;
    right: -28px;
    bottom: 45px;
  }
  .search-button {
    padding: 0.5rem 1.9rem;
  }
  .about-img img {
    max-height: 215px;
  }
  .abt-img img {
    width: 85%;
  }
  .abt-img::after {
    height: 345px;
    width: 34px;
    left: 18px;
    top: 55px;
  }
  .gallery img {
    min-height: 280px;
  }
  .booking-details form {
    width: 90%;
  }
  .ideas p {
    font-size: 13px;
  }
  .footer-brand img {
    width: 15% !important;
    padding-bottom: 2%;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .explore img {
    width: 35% !important;
  }
}

@media screen and (max-width: 600px) {
  .banner h1 {
    font-size: 30px;
  }
  .banner p {
    font-size: 18px;
  }
  .banner-image::after {
    display: none;
  }
  .search-form {
    margin-top: 40px;
  }
  .abt-text-head h2 {
    font-size: 25px;
  }
  .abt-text-desc img {
    width: 18%;
  }
  .abt-text-desc h3 {
    font-size: 22px;
  }
  .abt-text-desc p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .abt-img::after {
    display: none;
  }
  .abt-img img {
    max-height: 370px;
    width: 100%;
  }
  .booking-details h3 {
    font-size: 25px;
  }
  .booking-details p {
    font-size: 18px;
  }
  .booking-details form {
    width: 100%;
  }
  .gallery img {
    min-height: 335px;
  }
  .ideas h3 {
    font-size: 27px;
  }
  .ideas img {
    height: 225px;
  }
  .explore h3 {
    font-size: 25px;
  }
  .footer-brand li {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .gallery img {
    min-height: 230px;
  }
}

@media screen and (max-width: 360px) {
  .banner h1 {
    font-size: 25px;
  }
  .banner p {
    font-size: 15px;
  }
  .abt-text-head h2 {
    font-size: 22px;
  }
  .abt-text-desc h3 {
    font-size: 19px;
  }
  .abt-img img {
    max-height: 320px;
  }
  .gallery img {
    min-height: 200px;
  }
}
